.topbar {
    position: fixed; /* 상단 바를 고정합니다. */
    top: 0; /* 화면 위쪽에 위치하도록 합니다. */
    left: 0;
    width: 100%; /* 전체 너비를 차지하도록 합니다. */
    height: 40px;
    background-color: #4dae7d; /* 배경색을 설정합니다. */
    color: white; /* 텍스트 색상을 설정합니다. */
    padding: 5px; /* 내부 여백을 추가합니다. */
    z-index: 1000; /* 다른 요소 위에 나타나도록 합니다. */
    
  }

  .topbar a {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  .topbar a#small
  {
    font-size: 15px;
  }

  .sidebar {
    height: 100%;
    width: 150px; /* 사이드바의 너비 조정 */
    position: fixed; /* 페이지 스크롤과 상관없이 고정 */
    top: 50px; 
    left: 0;
    background-color: #09431f;
    padding-top: 20px;
  }
  
  .sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block; /* 링크를 블록 수준 요소로 만들어 전체 너비 사용 */
  }
  
  .sidebar a:hover {
    background-color: #4f7f68;
  }
  
  
  @media screen and (max-width: 850px) {
    .sidebar {
      width: 100%; /* 작은 화면에서는 사이드바가 전체 너비를 차지하도록 함 */
      z-index: 1; /* 다른 콘텐츠 위로 올라오도록 설정 */
      display: none; /* 작은 화면에서는 사이드바를 숨김 */
    }
    .content {
      margin-left: 15px; /* 작은 화면에서는 본문을 왼쪽으로 밀어내지 않음 */
    }
  }