.topbar {
    position: fixed; /* 상단 바를 고정합니다. */
    top: 0; /* 화면 위쪽에 위치하도록 합니다. */
    left: 0;
    width: 100%; /* 전체 너비를 차지하도록 합니다. */
    height: 40px;
    background-color: #4dae7d; /* 배경색을 설정합니다. */
    color: white; /* 텍스트 색상을 설정합니다. */
    padding: 5px; /* 내부 여백을 추가합니다. */
    z-index: 1000; /* 다른 요소 위에 나타나도록 합니다. */
    
  }

  .topbar a {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .content {
    margin-left: 200px; /* 사이드바 너비만큼 왼쪽으로 밀어줌 */
    padding-top: 50px; /* 상단 바만큼의 여백을 추가하여 컨텐츠가 가려지지 않도록 합니다. */
  }

  .content subtitle {
    font-size: 20px;
    font-weight: bold;
  }
  
  .section {

    position: relative;
    color: black;
    font-size: 45px;
    font-weight: bold;
    
  }

  .section project {
    position: relative;
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈을 허용 */
    justify-content: flex-start; 
  }

  .section project .container{
    display: grid;
    position:relative;
    color:black;
    padding-top: 3px;

    font-size: 40px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 20px;
    cursor: pointer;
  }

  .section project .box {
    width: 330px; /* 너비 설정 */
    height: 270px; /* 높이 설정 */
    background-color: #f0f0f0; /* 배경색 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    padding: 20px; /* 안쪽 여백 설정 */
    margin-top: 20px;
  }

  .section project .box content {
    display: grid;
    font-size: 20px;
    font-weight: normal;
  }
  
  .section green {
    color: #000;
    background-color: #94d9b7;
  }

  .section yellow {
    color: #000;
    background-color: #fff7a0;
  }

  .section red {
    color: #000;
    background-color: #ff8585;
  }


  .project_title{
    position:relative;
    color:black;
    padding-top: 3px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
  }

  .button {
    
    background-color: gray; /* 버튼 배경색 */
    border: none; /* 테두리 없음 */
    color: white; /* 텍스트 색상 */
    padding: 7px 20px; /* 내부 여백 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration:none; /* 텍스트 밑줄 제거 */
    display: inline-block; /* 인라인 요소로 표시 */
    font-size: 16px; /* 폰트 크기 */
    margin: 4px 2px; /* 마진 설정 */
    cursor: pointer; /* 커서 스타일 설정 */
}

.project_box {
  width: 400px; /* 너비 설정 */
  height: 200px; /* 높이 설정 */
  background-color: #f0f0f0; /* 배경색 설정 */
  border: 1px solid #ccc; /* 테두리 설정 */
  padding: 20px; /* 안쪽 여백 설정 */
  margin-top: 15px;
  margin-bottom: 50px;
  margin-right: 20px;
}



.sidebar {
  height: 100%;
  width: 150px; /* 사이드바의 너비 조정 */
  position: fixed; /* 페이지 스크롤과 상관없이 고정 */
  top: 50px; 
  left: 0;
  background-color: #09431f;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block; /* 링크를 블록 수준 요소로 만들어 전체 너비 사용 */
}

.sidebar a:hover {
  background-color: #4f7f68;
}


@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%; /* 작은 화면에서는 사이드바가 전체 너비를 차지하도록 함 */
    z-index: 1; /* 다른 콘텐츠 위로 올라오도록 설정 */
    display: none; /* 작은 화면에서는 사이드바를 숨김 */
  }
  .content {
    margin-left: 0; /* 작은 화면에서는 본문을 왼쪽으로 밀어내지 않음 */
  }
}


 table{ border-collapse : collapse; }  /*이중선 제거*/
 th,td
 {
      width: 1%;
      height: 1%;
      text-align: center;
      border: 1px solid #000;
      
      vertical-align: top;	/* 위 */
      vertical-align: bottom;   /* 아래 */
      vertical-align: middle;   /* 가운데 */
}

.profile {
  font-size: 20px;
  display: grid;
  grid-template-columns: 350px 1fr; /* 이미지와 텍스트 열의 너비를 자동으로 조절하고, 텍스트 열이 남은 공간을 채우도록 설정합니다. */
/* 세로 가운데 정렬 */
  gap: 10px; /* 이미지와 텍스트 사이의 간격을 조절합니다. */
}

.profile .image{
  position: relative;
  display: grid;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  background-color: #94d9b7;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  place-items: center;
  
}

.profile name {
  font-size: 25px;
  
}

.profile school {
  font-size: 25px;
  font-weight: normal;
}

.profile email {
  font-size: 20px;
  font-weight: normal;
  margin-left: 10px;
}